@{
    Layout = "_Layout";  // If you are using a layout page
}

<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>
<p><a href="@Url.Action("Index", "Home")">Return to Home</a></p>