@using KahaTiev.DTOs
@model List<ProductDTO>


    <h5 class="mt-1 h-75">
        Products page
        
    </h5>

@if (Model.Any())
{
<p>is is visdskjks</p>
    @foreach (var item in Model)
    {
        <a asp-action="SelectProducts" asp-route-id="@item.Guid">
            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    <h5 class="card-title">@item.Name</h5>

                    <p class="card-text">@item.Description</p>

                </div>
            </div>
        </a>
       
    }

}